
$body-bg: $dark;
$body-color: $gray-100;
$modal-content-bg: $gray-900;
$enable-shadows: true;
$enable-gradients: true;
$jumbotron-bg: $gray-900;
$list-group-bg: $gray-900;
$card-bg: $gray-900;
$pagination-bg: $gray-900;
$pagination-disabled-bg: $gray-900;
$pagination-hover-bg: $gray-600;
$pagination-hover-border-color: $gray-600;
$pagination-disabled-border-color: $gray-600;
$input-bg: $gray-900;
$input-disabled-bg: $gray-700;
$input-color: $gray-200;
$input-border-color: $gray-600;
$primary: rgb(68, 81, 219);